@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides&display=swap');

* {
    font-family: "Edu AU VIC WA NT Guides", cursive, sans-serif;
    font-optical-sizing: auto;
}
body{
    background:#0096ff28;
    text-align:center;
    overflow: hidden;
}
table {
    max-width:79% ;
    min-width: 55%;
    margin:auto;
    border-spacing: 0px;
    border: 8px solid #0075ff;
    text-align:center;
    text-transform: small-caps;
    border-top: 1px solid #80baff;
    border-radius: 6px;
    box-shadow: 0 2px 20px 2px #80baff;
    transition: all 4s;
}
table:hover{
    max-width:90% ;
    min-width: 60%;
    transition: all 4s;
}
td , tr {
    border: 1px #0075ff solid;
    text-transform: uppercase;
    font-weight:500;
}
th{
    border: 1px #0075ff solid;
    text-transform: uppercase;
    font-weight:900;
    background: #0075ff;
    color: #80baff;
    text-shadow: 0 0 20px white;
}
input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    margin:auto;
    padding: 5px 0px ;
    font-weight: 900;
    transition: all 10s;
    color:#80baff;
    letter-spacing:2px;
}
#male , #female{
    width: 7%; 
    height:7%;
    margin:0px;
    padding: 0px 0px;
    font-weight: 400;
    transform: translateY(5px);
    
}

input:focus{
    background: #0075ff;
    box-shadow: 0 0 10px 1px white inset;
    transition: all 1s;
}

.a{
    background: #80baff;
    color: #0075ff;
    font-size:10px;
    text-shadow: 0 0 20px white;
    border-left: 3px solid white;
    border-radius:9px 0 0 9px;
    padding:10px;
}

.c{
    color: #0075ff;
    font-size:10px;
    text-shadow: 0 0 20px white;
    border-radius:9px 0 0 9px;
    padding:10px;
    
}

.b{
    font-size:14px;
}
#submit{
    text-align:center;
    width: 80px;
    height: 80px;
    border-radius:50%;
    font-size:17px;
    background: #0075ff;
    margin:10px auto 10px;
    box-shadow: 0 0 10px 1px #0075ff , 0 0 10px 1px #80baff inset;
   
    transition: 2s;
}
.tr{
    background: #80baff;
       
}

#submit:hover{
    text-align:center;
    width: 280px;
    height: 80px;
    border-radius:5px;
    font-size:20px;
    background: #0075ff;
    margin:10px auto 10px;
    box-shadow: 0 0 10px 1px #0075ff ;
   
    transition: 2s;
}
#submit:focus{
    text-align:center;
    width: 280px;
    height: 80px;
    border-radius:5px;
    font-size:20px;
    background: #0075ff;
    margin:10px auto 10px;
    box-shadow: 0 0 10px 1px #0075ff ;
   
    transition: 2s;
}
input::placeholder{
    color: #80baff;
    letter-spacing:2px;
    font-size: 8px;
}
input:focus::placeholder {
    transform: translateX(2000px);
    transition: all 3s;
} 
h5 {
    color: #0075ff;
    font-size:13px;
    text-shadow: 0 0 20px #85baff;
    transition: all 1s;
    line-height:40px;
    opacity: 0;
    
}
span{
    font-size: 28px;
}
table:hover + h5{
    margin-top:10px;
    opacity:1;
    transition: all 1s;
}    